image: node:latest

pipelines:
  branches:
    development:
      - step:
          name: Update Development
          deployment: development
          script:
            - echo "$BITBUCKET_PIPELINES_KEY" > ./ssh_key
            - chmod 600 ./ssh_key
            - ssh -o StrictHostKeyChecking=no -i ./ssh_key ec2-user@16.163.69.23 '
                cd /home/ec2-user/application/erms_dev/hrtool && 
                git pull
              '
    release:
      - step:
          name: Update Release
          deployment: release
          script:
            - echo "$BITBUCKET_PIPELINES_KEY" > ./ssh_key
            - chmod 600 ./ssh_key
            - ssh -o StrictHostKeyChecking=no -i ./ssh_key ec2-user@16.163.69.23 '
                cd /home/ec2-user/application/erms_release/hrtool && 
                git pull
              '
    main:
      - step:
          name: Update Release
          deployment: release
          script:
            - echo "$BITBUCKET_PIPELINES_KEY" > ./ssh_key
            - chmod 600 ./ssh_key
            - ssh -o StrictHostKeyChecking=no -i ./ssh_key ec2-user@16.163.69.23 '
                cd /home/ec2-user/application/erms/hrtool && 
                git pull
              '
